<div class="bg">

  <marquee direction="right" cdkDrag>
    <div class="cloud01">
      <img src="https://pics.clipartpng.com/idownload-image.php?file=White_Clouds_PNG_Clipart-882.png"/>
    </div>
  </marquee>

  <marquee direction="left" cdkDrag>
    <div class="plane">
      <img src="http://www.donhollway.com/redbaron/images/brown.png"/>
    </div>
  </marquee>

  <marquee direction="right" cdkDrag>
    <div class="cloud02">
      <img src="https://pics.clipartpng.com/idownload-image.php?file=Cloud_PNG_Clipart-869.png"/>
    </div>
  </marquee>

</div>
